<h1>Yelp</h1>
<h2><%= @restaurant.name %></h2>
<ul>
  <li><i class="fas fa-utensils"></i> <%= @restaurant.category %></li>
  <li><i class="far fa-compass"></i> <%= @restaurant.address %></li>
  <li><i class="fas fa-mobile-alt"></i> <%= @restaurant.phone_number %></li>
</ul>


<% @reviews.each do |review| %>
  <div class="review">
    <p><span><%= review.rating %></span></p>
    <p><%= review.content %></p>
  </div>
<% end %>


<%= link_to "Add a review", new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>
<%= link_to "Back to list", restaurants_path, class: "btn btn-primary" %>




